# Ternary Operator

In [1]:
a,b=60,20
x=30 if a<b else 40
print(x)

40

In [2]:
a=int(input("Enter First Number= "))
b=int(input("Enter Second Number= "))
min=a if a<b else b
print("Minimum Value= ",min)

Enter First Number= 67
Enter Second Number= 89
Minimum Value=  67

In [3]:
# Write a program for minium of 3 numbers #

a=int(input("Enter First Number= "))
b=int(input("Enter Second Number= "))
c=int(input("Enter Third Number= "))
min=a if a<b and a<c else b if b<c else c
print("Minimum Value= ",min)

Enter First Number= 67
Enter Second Number= 78
Enter Third Number= 56
Minimum Value=  56

In [4]:
# Write a program for maximum 3 numbers #

a=int(input("Enter First Number= "))
b=int(input("Enter Second Number= "))
c=int(input("Enter Third Number= "))
max=a if a>b and a>c else b if b>c else c
print("Maximum Value= ",max)

Enter First Number= 88
Enter Second Number= 76
Enter Third Number= 78
Maximum Value=  88

In [7]:
# Less than / Greater than

a=int(input("Enter First Number= "))
b=int(input("Enter Second Number= "))
print("Both Numbers are Equal"if a==b else "First Number is Less than Second Number"if a<b else
      "First Number is Greater than Second Number")

Enter First Number= 66
Enter Second Number= 99
First Number is Less than Second Number

# Special Operators #

## 1 Identity Operator ##

In [8]:
a=10
b=10
print(a is b)

True

In [9]:
x=True
y=True
print(x is y)

True

In [10]:
a="durga"
b="durga"
print(id(a))
print(id(b))
print(a is b)

1490846293232
1490846293232
True

In [11]:
list1=["one","two","three"]
list2=["one","two","three"]
print(id(list1))
print(id(list2))
print(list1 is list2)# is operator use for address comparision
print(list1 is not list2)
print(list1 == list2)# == operator use for content comparision

1490846597632
1490846312320
False
True
True

## 2 Membership Operators

In [12]:
x="Learning python is very easy!!!"
print('h' in x)
print('d' in x)
print('d' not in x)
print('python' in x)

True
False
True
True

In [13]:
list1=["sunny","bunny","chinny","pinny"]
print("sunny" in list1)
print("tunny" in list1)
print("tunny" not in list1)

True
False
True

### Operator Procedence


#1 ()  => Parenthesis 
#2 (**)  => Exponentional Operator
#3 (~ , -)  => Bitwise complement operator,unary minus operator
#4 (* , / , % , //)  => Multiplication, Division, Modulo, Floor, Division
#5 (+ , -) => Addition, Substraction
#6 (<<,>>) =>  Left and Right Shift
#7 (&) => Bitwise And

In [15]:
print(3+10*2)
print((3+10)*2)

23
26

In [16]:
a,b,c,d=30,20,10,5
print((a+b)*c/d)
print((a+b)*(c/d))
print(a+(b*c)/d)

100.0
100.0
70.0

In [17]:
3/2*4+3+(10/5)**3-2

15.0

# MATHEMATICAL FUNCTIONS (math Module)

In [18]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [19]:
import math as m # we create alias name m
print(m.sqrt(16))
print(m.pi)

4.0
3.141592653589793

In [20]:
from math import sqrt,pi
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [22]:
from math import pi
r=16
print("Area of circle is = ",pi*r**2)

Area of circle is =  804.247719318987

In [1]:
a=int(input("Enter any Number= "))
sqr=a*a
print("Square is= ",sqr)

Enter any Number= 3
Square is=  9

In [3]:
b=int(input("Enter any Number= "))
sqrt=b*0.5
print("Square root is=",sqrt)

Enter any Number= 16
Square root is= 8.0

# INPUT AND OUTPUT STATEMENTS

In [27]:
# write a program to read 2 numbers from the keyboard and print sum #

x=int(input("Enter First Value = "))
y=int(input("Enter Second Value = "))
print("The sum = ",x+y)

Enter First Value = 45
Enter Second Value = 65
The sum =  110

In [28]:
# write a program to read 2 numbers from the keyboard and print sum #

print("The sum = ",int(input("Enter First Value = "))+int(input("Enter Second Value = ")))

Enter First Value = 55
Enter Second Value = 44
The sum =  99

In [30]:
# write a program to Employee Data from the keyboard and print that Data #

eno=int(input("Enter Employee No. = "))
ename=input("Enter Employee Name = ")
esal=float(input("Enter Employee Salary = "))
eaddr=input("Enter Employee Address = ")
married=bool(input("Enter Employee Married ? [True/False] = "))
print("Please Confirm Information")
print("Employee No. = ",eno)
print("Employee Name = ",ename)
print("Employee Salary = ",esal)
print("Employee Address = ",eaddr)
print("Employee Married = ",married)

Enter Employee No. = 100
Enter Employee Name = sunny
Enter Employee Salary = 1000
Enter Employee Address = Mumbai
Enter Employee Married ? [True/False] = True
Please Confirm Information
Employee No. =  100
Employee Name =  sunny
Employee Salary =  1000.0
Employee Address =  Mumbai
Employee Married =  True

In [36]:
#How to read Multiple values from the keyboard in a single line #

a,b=[int(x) for x in input("Enter Two numbers = ").split()]
print("Product is = ",a*b)

Enter Two numbers = 10 20
Product is =  200

In [39]:
# Write a program to read 3 float numbers from the keybord with,seperator and print their sum

a,b,c=[float(x) for x in input("Enter Three numbers = ").split(',')]
print("The sum is = ",a+b+c)

Enter Three numbers = 10.5,20.6,20.1
The sum is =  51.2

## eval()

In [40]:
x=eval("10+20+30")
print(x)

60

In [42]:
x=eval(input("Enter Expression = "))#(10+2*3/4)
print(x)

Enter Expression = 10+2*3/4
11.5

In [5]:
l=eval(input("Enter List = "))  #[66,'gh',88,'hk',90]
print(type(l))
print(l)

Enter List = [66,'gh',88,'hk',90]
<class 'list'>
[66, 'gh', 88, 'hk', 90]