# nested loops

In [3]:
for i in range(4):
    for j in range(4):
        print("i=",i," j=",j)

i= 0  j= 0
i= 0  j= 1
i= 0  j= 2
i= 0  j= 3
i= 1  j= 0
i= 1  j= 1
i= 1  j= 2
i= 1  j= 3
i= 2  j= 0
i= 2  j= 1
i= 2  j= 2
i= 2  j= 3
i= 3  j= 0
i= 3  j= 1
i= 3  j= 2
i= 3  j= 3

In [7]:
# Write a programe to display *'s in Right angled triangled form?

n=int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [16]:
# ALTERNATIVE WAY:

n= int(input("Enter number of rows:"))
for i in range(1,n+1):
    print("* "*i)

Enter number of rows:5
*
* *
* * *
* * * *
* * * * *

In [12]:
# Write a program to display *'s in pyramid style (also known as equivalent triangle)

n=int(input("Enter number of rows:"))
for i in range (1,n+1):
    print(" "*(n-i),end=" ")
    print("* "*i)

Enter number of rows:5
     *
    * *
   * * *
  * * * *
 * * * * *