# IMPORTANT FUNCTIONS OF LIST :

### 1 To get imformation about list:

In [3]:
#1# To get imformation about list:

# 1 len():
n=[10,20,30,40]
print(len(n))

4

In [7]:
# 2 count():

n=[1,2,2,2,2,3,3]
print(n.count(1))
print(n.count(2))
print(n.count(3))
print(n.count(4))

1
4
2
0

In [8]:
# 3 index() function:

n=[1,2,2,2,2,3,3]
print(n.index(1))
print(n.index(2))
print(n.index(3))
print(n.index(4))

0
1
5

ValueError: 4 is not in list

### 2 Manipulating elements of list:

In [9]:
# 1 append() function 

list=[]
list.append("A")
list.append("B")
list.append("C")
print(list)

['A', 'B', 'C']

In [10]:
# Q. To add all elements to list upto 100 which are divisible by 10

list=[]
for i in range (101):
    if i%10==0:
        list.append(i)
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [11]:
# 2 insert() function:

n=[1,2,3,4,5]
n.insert(1,888)
print(n)

[1, 888, 2, 3, 4, 5]

In [12]:
n=[1,2,3,4,5]
n.insert(10,777)
n.insert(-10,999)
print(n)

[999, 1, 2, 3, 4, 5, 777]

In [13]:
# extend() function:

# 3 l1.extend(l2)

order1 = ["Chiken","Mutton","Fish"]
order2 = ["RC","KF","FO"]
order1.extend(order2)
print(order1)

['Chiken', 'Mutton', 'Fish', 'RC', 'KF', 'FO']

In [14]:
# l1.extend(l2)

order = ["Chiken","Mutton","Fish"]
order.extend("Mushroom")
print(order)

['Chiken', 'Mutton', 'Fish', 'M', 'u', 's', 'h', 'r', 'o', 'o', 'm']

In [15]:
# 4 remove() function:

n=[10,20,30,10]
n.remove(10)  # First occurrence will be removed
print(n)

[20, 30, 10]

In [16]:
#  remove() function:

n=[10,20,30,10]
n.remove(40)  # (ValueError: list.remove(x): x not in list)
print(n)

ValueError: list.remove(x): x not in list

In [18]:
# 5 pop() Function

n=[10,20,30,40]
print(n.pop())
print(n.pop())
print(n)

40
30
[10, 20]

In [19]:
n=[]
print(n.pop())  #IndexError: pop from empty list

IndexError: pop from empty list

In [20]:
n=[10,20,30,40,50,60]
print(n.pop())
print(n.pop(1))
print(n.pop(10))   # IndexError: pop index out of range

60
20

IndexError: pop index out of range

### 3 Ordering elements of list:

In [1]:
# 1 reverse():

n=[10,20,30,40]
n.reverse()
print(n)

[40, 30, 20, 10]

In [5]:
# 2 sort():

n=[20,5,15,10,0]     # Shorting order is Ascending Order
n.sort()
print(n)

s=["Dog","Banana","Cat","Apple"]    # Shorting order is Alphabetical Order
s.sort()
print(s)

[0, 5, 10, 15, 20]
['Apple', 'Banana', 'Cat', 'Dog']

In [6]:
n=[20,10,"A","B"]
n.sort()
print(n)   # TypeError: '<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

## In python 2

######  n=[20,10,"A","B"]
######  n.sort()
###### print(n) #  [20,10,'A','B'] Valid

In [7]:
# To sort in reverse of default natural sorting order:

n=[40,10,30,20]
n.sort()
print(n)
n.sort(reverse=True)
print(n)
n.sort(reverse=False)
print(n)

[10, 20, 30, 40]
[40, 30, 20, 10]
[10, 20, 30, 40]

In [9]:
# Alising and Cloning of list objects :

x=[10,20,30,40]
y=x
print(id(x))
print(id(y))

y[1]=777
print(x)

print(id(x))
print(id(y))

1621465519808
1621465519808
[10, 777, 30, 40]
1621465519808
1621465519808

In [10]:
# By using slice operator:  (operator meant for aliasing)

x=[10,20,30,40]
y=x[:]
y[1]=777

print(x)
print(y)

print(id(x))
print(id(y))

[10, 20, 30, 40]
[10, 777, 30, 40]
1621465534272
1621465539008

In [12]:
# By using copy() function : (copy() function meant for cloning)

x=[10,20,30,40]
y=x.copy()
y[1]=777

print(x)
print(y)

print(id(x))
print(id(y))

[10, 20, 30, 40]
[10, 777, 30, 40]
1621465765120
1621465759808

## Using Methematical operators for list Objects:

In [13]:
# 1 Concatenation operator(+) :

a=[10,20,30]
b=[40,50,60]
c=a+b
print(c)

[10, 20, 30, 40, 50, 60]

In [19]:
# Note:

c=a+40  # TypeError: can only concatenate list (not "int") to list
c=a+[40]  # Valid
print(c)

TypeError: can only concatenate list (not "int") to list

In [20]:
# 2 repetation operator(*):

x=[10,20,30]
y=x*3
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

## Comparing List objects

In [21]:
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y)
print(x==z)
print(x!=z)

True
False
True

In [22]:
x=[50,20,30]    # Only first element comparison will be performed
y=[40,50,60,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
True
False
False

In [23]:
x=["Dog","Cat","Rat"]
y=["Rat","Cat","Dog"]

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

## Membership Operators:

In [26]:
# in operator and not in operator

n=[10,20,30,40]
print(10 in n)  
print(10 not in n)
print(50 in n)
print(50 not in n)

True
False
False
True

In [27]:
# clear() function:

n=[10,20,30,40]
print(n)
n.clear()
print(n)

[10, 20, 30, 40]
[]

## Nested Lists:

In [28]:
n=[10,20,[30,40]]
print(n)
print(n[0])
print(n[2])
print(n[2][0])
print(n[2][1])

[10, 20, [30, 40]]
10
[30, 40]
30
40

# Nested List as Matrix:

In [34]:
n=[[10,20,30],[40,50,60],[70,80,90],[11,22,33]]
print(n)
print("Element by Row Wise:")
for r in n:
    print(r)
print("Element by Matrix style:")
for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end='  ')
    print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90], [11, 22, 33]]
Element by Row Wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
[11, 22, 33]
Element by Matrix style:
10  20  30
40  50  60
70  80  90
11  22  33

## List Comprehensions:

### Syntax :-  list=[ expression for item in list if condition ]

In [36]:
s=[x*x for x in range(1,11)]
print(s)
v=[2**x for x in range(1,6)]
print(v)
m=[x for x in s if x%2==0]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

In [37]:
words=["Balaji","Nag","Venkatesh","Chiranjeevi"]
l=[w[0] for w in words]
print(l)

['B', 'N', 'V', 'C']

In [40]:
n1=[10,20,30,40]
n2=[30,40,50,60]
n3=[i for i in n1 if i not in n2]
print(n3)
 # Common Elements present in n1 and n2
n4=[i for i in n1 if i in n2]
print(n4)

[10, 20]
[30, 40]

In [44]:
# words=["the quick brown fox jumps over the lazy dog".split()]
#    ==> AttributeError: 'list' object has no attribute 'upper' <==

words="the quick brown fox jumps over the lazy dog".split()
print(words)
l=[[w.upper(),len(w)] for w in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

In [45]:
# Q. Write a program to display unique vowels present in the given word?

vowels=['a','e','i','o','u']
word=input("Enter the word to search for vowels:")
found=[]
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)
print(found)
print("The number of different vowels present in ",word,"is",len(found))

Enter the word to search for vowels:durgasoftwaresolutions
['u', 'a', 'o', 'e', 'i']
The number of different vowels present in  durgasoftwaresolutions is 5