# TUPLE DATA STRUCTURE

In [1]:
t=10,20,30,40
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [2]:
t=()
print(type(t))

<class 'tuple'>

In [3]:
t=(10)
print(t)
print(type(t))

10
<class 'int'>

In [4]:
t=(10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

## Tuple Creation:

In [6]:
# 1.

t=()
print(t)

()

In [7]:
# 2.

t=10,
print(t)

(10,)

In [8]:
# 3.

t=10,20,30
print(t)

(10, 20, 30)

In [10]:
# 4. By using tuple() function

list=[10,20,30]
t=tuple(list)
print(t)

t=tuple(range(10,20,2))
print(t)

(10, 20, 30)
(10, 12, 14, 16, 18)

# Accessing elements of tuple:

In [11]:
# 1. By using index:

t=(10,20,30,40,50,60)
print(t[0])
print(t[-1])
print(t[100])  # IndexError: tuple index out of range

10
60

IndexError: tuple index out of range

In [14]:
# 2. By using Slice operator:

t=(10,20,30,40,50,60)
print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

### Tuple vs immutability:

In [15]:
t=(10,20,30,40)
t[1]=70     # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

## Methathematical operators for tuple:

In [16]:
# 1. Concatenation Operator (+)

t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [17]:
# 2. Multiplication operator or repetition operator (*)

t1=(10,20,30)
t2=t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

# Important Function of tuple:

In [18]:
# 1. len()

t=(10,20,30,40)
print(len(t))

4

In [20]:
# 2. count()

t=(10,20,10,10,20)
print(t.count(10))

3

In [22]:
# 3. index()

t=(10,20,10,10,20)
print(t.index(10))
print(t.index(30))  # ValueError: tuple.index(x): x not in tuple

0

ValueError: tuple.index(x): x not in tuple

In [25]:
# 4. sorted()

t=(40,10,30,20)
t1=sorted(t)
print(t1)
print(t)
t1=sorted(t,reverse=True)
print(t1)

[10, 20, 30, 40]
(40, 10, 30, 20)
[40, 30, 20, 10]

In [26]:
# 5. min() and max() functions:

t=(40,10,30,20)
print(min(t))
print(max(t))

10
40

In [28]:
# 6. cmp(): avalible only in python 2 but not in python 3

t1=(10,20,30)  
t2=(40,50,60)
t3=(10,20,30)
print(cmp(t1,t2))  # -1
print(cmp(t1,t3))  # 0
print(cmp(t2,t2))  # +1

NameError: name 'cmp' is not defined

# Tuple Packing and Unpacking:

In [29]:
# Packing

a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [32]:
# Unpacking

t=(10,20,30,40)
a,b,c,d=t
print("a=",a,"b=",b,"c=",c,"d=",d)

a= 10 b= 20 c= 30 d= 40

# Tuple comprehension:

In [35]:
# tuple Comprehension is not supported by python 

t=(x**2 for x in range(1,6))
print(type(t))               # Here we are not getting tuple object and 
for x in t:
    print(x)                                   # we are getting generator object.

<class 'generator'>
1
4
9
16
25

In [37]:
# Q. Write a programe to take a tuple of numbers from the keyboard and print its sum and average?

t=eval(input("Enter tuple of Numbers:"))  # (10,20,30,40)
l=len(t)
sum=0
for x in t:
    sum=sum+x
print("The Sum=",sum)
print("The Average=",sum/l)

Enter tuple of Numbers:(100,200,300)
The Sum= 600
The Average= 200.0