# FUNCTIONS

In [1]:
# Q. Write a function to print Hello

def wish():
    print("Hello Good Morning")
wish()
wish()
wish()

Hello Good Morning
Hello Good Morning
Hello Good Morning

# Parameters

In [2]:
# Q. Write a function to take name of the student as input and print wish message by name

def wish(name):
    print("Hello",name,"Good Morning")
wish("durga")
wish("ravi")

Hello durga Good Morning
Hello ravi Good Morning

In [3]:
# Q. Write a function to take number as input and print its square value

def squarelt(number):
    print("The Square of",number,"is",number*number)
squarelt(4)
squarelt(5)

The Square of 4 is 16
The Square of 5 is 25

# Return Statement:

In [6]:
# Q. Write a function to accept 2 numbers as input and return sum

def add(x,y):
    return x+y
result=add(10,20)
print("The sum is",result)
print("The sum is",add(100,200))

The sum is 30
The sum is 300

In [11]:
def f1():
    print("Hello")
f1()
print(f1())

Hello
Hello
None

In [12]:
# Q. Write a function to check whether the given number is even or odd?

def even_odd(num):
    if num%2==0:
        print(num,"is Even Number")
    else:
        print(num,"is Odd Number")
even_odd(10)
even_odd(15)

10 is Even Number
15 is Odd Number

In [13]:
# Q. Write a function to find factorial of given number?

def fact(num):
    result=1
    while num>=1:
        result=result*num
        num=num-1
    return result
for i in range(1,5):
    print("The Factorial of",i,"is:",fact(i))

The Factorial of 1 is: 1
The Factorial of 2 is: 2
The Factorial of 3 is: 6
The Factorial of 4 is: 24

# Returning multiple values from a function

In [14]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub
x,y=sum_sub(100,50)
print("The Sum is :",x)
print("The Substraction is :",y)

The Sum is : 150
The Substraction is : 50

In [16]:
def calc(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return sum,sub,mul,div
t=calc(100,50)
print("The results are:")
for i in t:
    print(i)

The results are:
150
50
5000
2.0

# Types of arguments:
## 1. positional arguments
## 2. keyword argument
## 3. default argument
## 4. variable length arguments

#

# 1. positional arguments:

In [17]:
def sub(a,b):
    print(a-b)
sub(100,200)
sub(200,100)

-100
100

# 2. keyword argumnts:

In [18]:
def wish(name,msg):
    print("Hello",name,msg)
wish(name="durga",msg="Good Morning")
wish(msg="Good Morning",name="durga")

Hello durga Good Morning
Hello durga Good Morning

In [20]:
def wish(name,msg):
    print("Hello",name,msg)
wish(name="durga",msg="Good Morning")
wish("durga",msg="Good Morning")
#wish(name="durga","Good morning")  # SyntaxError: positional argument follows keyword argument

Hello durga Good Morning
Hello durga Good Morning

# 3. Default Arguments:

In [1]:
def wish(name="Guest"):
    print("Hello",name,"Good Morning")
wish("durga")
wish()

Hello durga Good Morning
Hello Guest Good Morning

# 4. Variable length arguments:

In [4]:
def sum(*n):
    total=0
    for n1 in n:
        total=total+n1
    print("The sum=",total)
sum()
sum(10)
sum(10,20)
sum(10,20,30,40)

The sum= 0
The sum= 10
The sum= 30
The sum= 100

In [5]:
def f1(n1,*s):
    print(n1)
    for s1 in s:
        print(s1)
f1(10)
f1(10,20,30,40)
f1(10,"A",30,"B")

10
10
20
30
40
10
A
30
B

In [6]:
def f1(*s,n1):
    for s1 in s:
        print(s1)
    print(n1)
f1("A","B",n1=10)

A
B
10

In [7]:
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,"=",v)
display(n1=10,n2=20,n3=30)
display(rno=100,name="durga",marks=70,subject="java")

n1 = 10
n2 = 20
n3 = 30
rno = 100
name = durga
marks = 70
subject = java

In [17]:
def f(arg1,arg2,arg3=4,arg4=8):
    print(arg1,arg2,arg3,arg4)
    
f(3,2)
f(10,20,30,40)
f(25,50,arg4=100)
f(arg4=2,arg1=3,arg2=4)
#f() # TypeError: f() missing 2 required positional arguments: 'arg1' and 'arg2'
#f(arg3=10,arg4=20,30,40)  # SyntaxError: positional argument follows keyword argument
#f(4,5,arg2=6)  # TypeError: f() got multiple values for argument 'arg2'
#f(4,5,arg3=5,arg5=6)   #  TypeError: f() got an unexpected keyword argument 'arg5'

3 2 4 8
10 20 30 40
25 50 4 100
3 4 4 2

# Types of Variables
## 1.Global Variables
## 2.Local Variables

#

# 1.Global Variable

In [1]:
a=10  # global variable
def f1():
    print(a)
    
def f2():
    print(a)
    
f1()
f2()

10
10

# 2. Local Variables

In [5]:
def f1():
    b=20
    print(b) # valid
    
def f2():
    print(b)  # invalid (NameError: name 'b' is not defined)
    
f1()
f2()

20

NameError: name 'b' is not defined

# Global Keyword

In [6]:
a=30
def f1():
    a=777
    print(a)
    
def f2():
    print(a)
    
f1()
f2()

777
30

In [7]:
a=10
def f1():
    global a
    a=777
    print(a)
    
def f2():
    print(a)
    
f1()
f2()

777
777

In [9]:
a=10  # global variable
def f1():
    a=777 # local variable
    print(a)
    print(globals()['a'])
f1()

777
10

# Recursive Function

In [10]:
# Q. Write a python function to find factorial of given number with recursion.

def factorial(n):
    if n==0:
        result=1
    else:
        result=n*factorial(n-1)
    return result
print("Factorial of 4 is: ",factorial(4))
print("Factorial of 5 is: ",factorial(5))

Factorial of 4 is:  24
Factorial of 5 is:  120

In [11]:
# Q. Write a program to create a lambda function to find square of given number?

s=lambda n:n*n
print("The square of 4 is: ",s(4))
print("The square of 5 is: ",s(5))

The square of 4 is:  16
The square of 5 is:  25

In [12]:
# Q. Lambda function to find sum of 2 given numbers

s=lambda a,b:a+b
print ("The sum of 10,20 is:",s(10,20))
print("The sum of 100,200 is:",s(100,200))

The sum of 10,20 is: 30
The sum of 100,200 is: 300

In [14]:
# Q. Lambda function to find biggest of given values

s=lambda a,b:a if a>b else b
print("The biggest number of 10,20 is",s(10,20))
print("The biggest number of 100,200 is",s(100,200))

The biggest number of 10,20 is 20
The biggest number of 100,200 is 200

# filter function()

In [15]:
# Q. Program to filter only even numbers from the list by using filter()

# without lambda function:

def isEven(x):
    if x%2==0:
        return True 
    else:
        return False
l=[0,5,10,15,20,25,30]
l1=list(filter(isEven,l))
print(l1)

[0, 10, 20, 30]

In [16]:
# with lambda function:

l=[0,5,10,15,20,25,30]
l1=list(filter(lambda x:x%2==0,l))
print(l1)
l2=list(filter(lambda x:x%2!=0,l))
print(l2)

[0, 10, 20, 30]
[5, 15, 25]

# map() function

In [1]:
# without lambda

l=[1,2,3,4,5]
def doubleIt(x):
    return 2*x
l1=list(map(doubleIt,l))
print(l1)

[2, 4, 6, 8, 10]

In [2]:
# with lambda

l=[1,2,3,4,5]
l1=list(map(lambda x:2*x,l))
print(l1)

[2, 4, 6, 8, 10]

In [3]:
# Q. To find square of given numbers

l=[1,2,3,4,5]
l1=list(map(lambda x:x*x,l))
print(l1)

[1, 4, 9, 16, 25]

In [4]:
# Q. multiplication

l1=[1,2,3,4]
l2=[2,3,4,5]
l3=list(map(lambda x,y:x*y,l1,l2))
print(l3)

[2, 6, 12, 20]

# reduce function:

In [6]:
# eg.

from functools import*
l=[10,20,30,40,50]
result=reduce(lambda x,y:x+y,l)
print(result)
result=reduce(lambda x,y:x*y,l)
print(result)

150
12000000

In [7]:
# eg.

from functools import*
result=reduce(lambda x,y:x+y,range(1,101))
print(result)

5050

In [8]:
# eg.
def f1():
    print("Hello")
print(f1)
print(id(f1))

<function f1 at 0x00000163FC518160>
1528946590048

# Function Aliasing

In [9]:
def wish(name):
    print("Good Morning:",name)
greeting=wish
print(id(wish))
print(id(greeting))
greeting("durga")
wish("durga")

1528946591920
1528946591920
Good Morning: durga
Good Morning: durga

In [11]:
# eg.

def wish(name):
    print("Good Morning:",name)
greeting=wish

greeting("durga")
wish("durga")

del wish
# wish ("durga")  #  NameError: name 'wish' is not defined
greeting("pavan")

Good Morning: durga
Good Morning: durga
Good Morning: pavan

# Nested Function

In [13]:
def outer():
    print("outer function started")
    def inner():
        print("inner function execution")
    print("outer function calling inner function")
    inner()
outer()
# inner()  #  NameError: name 'inner' is not defined

outer function started
outer function calling inner function
inner function execution

In [14]:
def outer():
    print("outer function started")
    def inner():
        print("inner function execution")
    print("outer function returning inner function")
    return inner
f1=outer()
f1()
f1()
f1()

outer function started
outer function returning inner function
inner function execution
inner function execution
inner function execution